<div class="container">
  <div class="row my-3">
    <div class="col-9">
      <label for="formFile" class="form-label">Upload your JSON file :</label>
      <input class="form-control" #filePicker type="file" accept="application/json" id="formFile" (change)="fileChanged($event)">
    </div>
    <div class="col-4 d-flex align-items-end">
      <div class="m-2 red align-items-end" *ngIf="fileErrorMessage">This JSON file is not valid.</div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-9">
      <label for="fileName" class="form-label">File name :</label>
      <input class="form-control" type="text"  id="fileName" [(ngModel)]="fileName" (keyup)="checkIfNameAlreadyExist()">
    </div>
    <div class="col-4 d-flex align-items-end">
      <div class="m-2 red align-items-end" *ngIf="nameAlreadyExist">Name already taken.</div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3 d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success" (click)="process()" [disabled]="fileName==='' || nameAlreadyExist || !filePicked">
          Process file
        </button>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-danger" (click)="resetStorage()">
        Reset storage
      </button>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-secondary" (click)="export()">
        Export storage
      </button>
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row my-3" *ngIf="savedFiles.length === 0">
    <div class="col-3">
      No entry yet.
    </div>
  </div>
  <div class="row my-3" *ngIf="savedFiles.length !== 0">
    <div class="col-3">
      <ul *ngFor="let savedFile of savedFiles;">
        <li><button class="btn btn-outline-secondary" routerLink="/see-file/{{savedFile.fileName}}">{{savedFile.fileName}}</button></li>
      </ul>
    </div>
  </div>
</div>
